<!DOCTYPE html>
<html lang="en">

<%- include("partials/head", { title: "House" }) %>

  <body>
    <main class="club">
      <div class="board-wrapper">
        <div>
          <%- include('partials/index-head') %>
        </div>
        <%- include('partials/message-board') %>
          <%- include("partials/alert") %>
            <%- include("partials/validation-errors") %>
              <%- include("partials/message-form") %>
                <div class="footer">
                  <form action="/logout" method="post">
                    <sl-button type="submit" variant="text">Logout</sl-button>
                  </form>
                </div>
      </div>
    </main>

  </body>

</html>